.custom-map-modal {
    .modal-dialog {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .modal-content {
      height: auto;
      min-height: 100%;
      border-radius: 0;
    }
  }
  .ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }
  .ant-tabs {
    width: 50%;
  }
  [data-theme='compact'] .ant-advanced-add-form,
  .ant-advanced-add-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }
  
  [data-theme='compact'] .ant-advanced-add-form .ant-form-item,
  .ant-add-search-form .ant-form-item {
    display: flex;
  }
  
  [data-theme='compact'] .ant-advanced-add-form .ant-form-item-control-wrapper,
  .ant-advanced-add-form .ant-form-item-control-wrapper {
    flex: 1;
  }
  .ant-form {
    max-width: none;
  }
  .search-result-list {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }
  [data-theme='dark'] .ant-advanced-add-form {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid #434343;
    padding: 24px;
    border-radius: 2px;
  }
  [data-theme='dark'] .search-result-list {
    border: 1px dashed #434343;
    background: rgba(255, 255, 255, 0.04);
  }
  .ant-col {
    max-width: 200%;
    text-align: left;
  }
  .ant-tabs {
    width: 100%;
  }
  .ant-picker {
    width: 100%;
  }
  .ant-btn-primary {
    background: #1d60be;
    border: 1px solid #1d60be;
  }
  .ant-btn-primary:hover {
    background: cornsilk;
    color: #1d60be;
    border: 1px solid #1d60be;
  }
  .appoiment-cpn {
    width: 95%;
  }
  //Style bảng khung giờ
  .timeFame {
    text-align: center;
  }
  //Style bảng Lịch sử thao tác lịch hẹn
  .appointmentActions {
    text-align: center;
  }
  //Style Bảng ghi chú lịch hẹn
  .appointment-notes {
    text-align: center;
  }
  .red {
    color: red;
  }
  .fs-12 {
    font-size: 12px;
  }
  .field-css {
    align-items: baseline;
    width: 100%;
  }
  .ml5-sdt {
    margin-left: 5px;
  }
  .ml5-call {
    margin-left: 5px;
  }
  @media screen and (max-width: 992px) {
    .ml5-sdt {
      margin-left: 0px;
    }
  }
  .over-hidden {
    overflow: hidden;
  }
  
  .table-appointment {
    height: calc(100vh - 175px);
    // overflow: auto;
    @media (max-width: 768px) {
      height: 100%;
    }
    &.ant-table-wrapper .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-container {
      height: auto;
    }
  }
  //Tooltip
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  //Style các bản ghi đặt trước
  .pre-book {
    color: #1d60be;
    font-weight: bold;
  }
  //Style bảng khung giờ
  .lichChuaThucHien {
    color: red;
  }
  .table-row-light {
    background-color: #ffffff;
  }
  .table-row-dark {
    background-color: #f3f3f3;
  }
  .ant-picker-input > input {
    font-size: 12px !important;
  }
  .kd {
    position: relative;
    font-size: 12px;
  }
  .kd::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 18px;
    background: black;
    position: absolute;
    top: 0;
    margin-top: 0;
  }
  .tt {
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
  }
  .btn-green:hover {
    color: white !important;
    background: #26a661 !important;
    border-color: #26a661 !important;
  }
  .btn-green {
    background: #26a661;
    border-color: #26a661;
    color: white;
  }
  .ant-picker-input > input:placeholder-shown {
    font-size: 12px !important;
  }
  .ant-form-item-control-input-content {
    font-size: 12px !important;
  }
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
    color: #fff !important;
    background: #206ad2 !important;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff !important;
  }
  .ant-tabs-tab{
    padding: 5px;
    color:#206ad2 ;
  }
  .ant-tabs-tab-active{
    color: #fff !important;
    background: #206ad2 !important;
  }
  .new-add-appointment-form{
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 5px;
  }
  .kbyt-title{
    width: 100%;
    font-size: 16px;
    color: #0000FF;
    font-weight: 700;
  }
  .kbyt-sub-title{
    color: #D9001B;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
  }
  .kbyt-sub-title p{
    margin-bottom: 2px;
  }
  .checkbox-kbyt{
    width: 100%;
  }
  .checkbox-kbyt .ant-form-item-control-input {
    min-height: 20px !important;
  }
  .kbyt-confirm{
    width: 100%;
    color: red;
  }
  .content{
    clear: both;
    position: relative;
    width: 100%;
    margin-top: 60px;
  }
  .mt-14px-sub{
    margin-top: 14px;
  }
  .hidden-over{
    overflow: hidden;
  }
  .ant-radio-group{
    display: contents;
  }
  .mb-5px{
    margin-bottom: 7px;
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    background-color: #1d60be;
  }
 
  .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    color: rgb(0 0 0);
  }
  .ant-picker-input > input[disabled]{
    color:rgb(0 0 0);
  }
  .ant-input[disabled]{
    color:rgb(0 0 0);
  }
  .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after{
    border-color: rgb(0 0 0);
  }
  .ant-radio-disabled .ant-radio-inner::after{
    background-color: rgb(0 0 0) !important;
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled){
    background-color: #1d60be;
  }
  .red-kbyt{
    background-color: red;
    color: white;
    padding: 5px;
  }
  .yellow-kbyt{
    background-color: yellow;
    color: black;
    padding: 5px;
  }
  .green-kbyt{
    background-color: green;
    color: black;
    padding: 5px;
  }
  .blue-kbyt{
    background-color: #1d60be;
    color: white;
    padding: 5px;
  }
  .tabs-custom .ant-tabs-tab-active {
    background:#fff !important;
  }
  .tabs-custom .ant-tabs-tab{
    padding: 0;
    padding-bottom: 11px;
  }
  .ant-checkbox-disabled + span{
    color: rgb(0 0 0);
  }
  .ant-radio-disabled + span{
    color: rgb(0 0 0);
  }
  .copy-button{
    padding: 5px 8px;
  }
  .ml-5px{
    margin-left: 5px;
  }
  .flex{
    display: flex;
    font-size: 14px;
  }
  .text-invoice{
    margin-right: 20px;
  }
  .flex .ant-form-item-control-input{
    min-height: auto !important;
  }
.title-address{
  font-size: 14px;
  color: #206ad2;
}

.field-css{
  align-items: center;
}
.covid-form{
    padding: 7px;
}
.title-list-assign{
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.assign-item{
    padding:5px;
    background: #d9d9d9;
    border: 1px solid #206ad2;
}
.assign-item-time{
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.mt-10px{
    margin-top: 10px;
}
.assign-item-code{
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.assign-item-label-green{
    background: green;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    color: black;
}
.assign-item-content{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
.confirm-covid-form{
    margin-left: 30px;
}
.title-confirm{
    font-size: 14px;
    font-weight: 600;
    color: #206ad2;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}