.background-login {
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.login {
  margin: 0px auto;
  /* max-width: 500px; */
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 30px 15px;
  z-index: 5;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 25%;
  box-shadow: 0 5px 10px #000;
  max-width: 100%;

  .title {
    text-transform: uppercase;
  }

  .error {
    font-size: 14px;
    font-weight: unset;
    text-transform: inherit;
    color: red;
    padding: 0;
  }

  .logo {
    text-align: center;
    padding: 10px;
  }

  label {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  p {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
  }
  .btnLogin {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    height: 40px;
  }
  input {
    border-radius: 3px;
    height: 36px;
    font-size: 16px;
    font-weight: 400;
  }

  .ant-form-item {
    margin-right: 0;
  }
}
