/*.afternoonColumn {
  background: #fff1a8;
}
.morningColumn {
  background: rgb(153, 250, 153);
}
.nightColumn {
  background: #f5d2f5;
}
.dayLong {
  background: rgb(126, 197, 255);
}
.slcSchedule {
  width: 50%;
}
.search-cpn {
  width: 90%;
}
*/
.ant-layout-header {
  padding: 0 0px;
}
.ant-table-thead .ant-table-cell {
  text-align: center;
  background: #f5f5f5;
  border: 0.1px solid #e2e2e2;
}
.slcSearch {
  overflow: hidden !important;
}
.ant-form-item-control {
  overflow: hidden !important;
}

.table-schedule {
  height: calc(100vh - 220px);
  overflow: hidden;
  @media (max-width: 768px) {
    height: 100%;
  }
  &.ant-table-wrapper .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-container {
    height: auto;
  }
}
