.call-management {
  .ant-table-wrapper {
    height: auto;
  }

  .ant-form-item-label > label {
    white-space: normal;
  }

  .filter-group {
    padding: 0.5rem;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    position: relative;

    .ant-form-item {
      margin-bottom: 0;
    }

    > label {
      position: absolute;
      font-size: 12px;
      top: 0;
      transform: translate(0, -50%);
      background-color: white;
      font-weight: 600;
    }
  }

  .table-title {
    display: flex;
    justify-content: space-between;
    .buttons {
      justify-content: flex-end;
      display: flex;
    }
  }

  .status-cell {
    padding: 0 !important;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
    }

    &-success {
      background-color: green;
      color: white;
    }

    &-failed {
      background-color: red;
      color: white;
    }
  }

  .incoming-call {
    font-size: 1rem;
    color: red;
  }
  .outgoing-call {
    color: green;
    font-size: 1rem;
  }

  .btn-call {
    &:not([disabled]) {
      background: #26a661;
      border-color: #26a661;
      color: white;
    }
  }

  .btn-stop {
    width: 0.75rem;
    height: 0.75rem;
    background-color: white;
  }
}
