.report-booking-revenue {
  padding: 1rem;
  height: 100vh;
  overflow: auto;

  .ant-col {
    max-width: 100%;
  }

  .title {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    @media (max-width: 768px) {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .table-container {
    height: calc(100vh - 80px);
  }

  .ant-spin-container {
    margin-top: 0;
  }
}
