.custom-map-modal {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}
.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.ant-tabs {
  width: 50%;
}
[data-theme='compact'] .ant-advanced-add-form,
.ant-advanced-add-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme='compact'] .ant-advanced-add-form .ant-form-item,
.ant-add-search-form .ant-form-item {
  display: flex;
}

[data-theme='compact'] .ant-advanced-add-form .ant-form-item-control-wrapper,
.ant-advanced-add-form .ant-form-item-control-wrapper {
  flex: 1;
}
.ant-form {
  max-width: none;
}
.search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}
[data-theme='dark'] .ant-advanced-add-form {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid #434343;
  padding: 24px;
  border-radius: 2px;
}
[data-theme='dark'] .search-result-list {
  border: 1px dashed #434343;
  background: rgba(255, 255, 255, 0.04);
}
.ant-col {
  max-width: 200%;
  text-align: left;
}
.ant-tabs {
  width: 100%;
}
.ant-picker {
  width: 100%;
}
.ant-btn-primary {
  background: #1d60be;
  border: 1px solid #1d60be;
}
.ant-btn-primary:hover {
  background: cornsilk;
  color: #1d60be;
  border: 1px solid #1d60be;
}
.appoiment-cpn {
  width: 95%;
}
//Style bảng khung giờ
.timeFame {
  text-align: center;
}
//Style bảng Lịch sử thao tác lịch hẹn
.appointmentActions {
  text-align: center;
}
//Style Bảng ghi chú lịch hẹn
.appointment-notes {
  text-align: center;
}
.red {
  color: red;
}
.fs-12 {
  font-size: 12px;
}
.field-css {
  align-items: baseline;
}
.ml5-sdt {
  margin-left: 5px;
}
.ml5-call {
  margin-left: 5px;
}
@media screen and (max-width: 992px) {
  .ml5-sdt {
    margin-left: 0px;
  }
}
.over-hidden {
  overflow: hidden;
}

.table-appointment {
  height: calc(100vh - 125px);
  overflow: hidden;
  @media (max-width: 768px) {
    height: 100%;
  }
  &.ant-table-wrapper .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-container {
    height: auto;
  }
}
//Tooltip
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
//Style các bản ghi đặt trước
.pre-book {
  color: #1d60be;
  font-weight: bold;
}
//Style bảng khung giờ
.lichChuaThucHien {
  color: red;
}
.table-row-light {
  background-color: #ffffff;
}
.table-row-dark {
  background-color: #f3f3f3;
}
.ant-picker-input > input{
  font-size: 12px !important;
}
.kd{
  position: relative;
  font-size: 12px;
}
.kd::before{
  content: "";
  display: inline-block;
  width: 1px;
  height: 18px;
  background: black;
  position: absolute;
  top: 0;
  margin-top: 0;
}
.tt{
  line-height: 18px;
    color: rgba(255,255,255,0.6);
    font-size: 12px;
}