.add-package-tab-one-cpn {
  width: 90%;
}
.steps-content {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 80px;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
}
[data-theme='dark'] .steps-content {
  margin-top: 16px;
  border: 1px dashed #303030;
  background-color: rgba(255, 255, 255, 0.04);
  color: rgba(255, 255, 255, 0.65);
  padding-top: 80px;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
.summaryTable {
  margin-right: 10px;
}
.title-form{
  text-align: center;
  font-size: 13px;
  color: #1d60be;
  font-weight: bold;
}
.title-col{
  font-size: 13px;
  font-weight: bold;
  color: #1d60be;
}
.content-col{
  font-size: 13px;
}
.display-tbl-modal{
  display: table-row;
}
.tble-service{
  display: table;
}
.fix-row{
  flex-flow: row !important;
}
