.first {
  width: 35%;
  display: inline-block;
}

.second {
  width: 65%;
  display: inline-block;
}
//Style Statistic
.ant-card {
  border-radius: 20px;
}
.ant-card-body {
  padding: 3px;
  padding-left: 5px;
}
.ant-card-body {
  line-height: 1.25;
}
.ant-statistic-content {
  font-size: 15px;
}
.statistic-block {
  //border: 1px solid #e4e4e4;
}
.ant-statistic-content-value {
  color: rgb(197, 14, 14);
  font-weight: 400;
}
.ant-statistic-title {
  float: left;
  margin-right: 4px;
  margin-left: 3px;
}
@media screen and (max-width: 500px) {
  .first,
  .second,
  .third {
    width: 100%;
  }
}
.fs-12 {
  font-size: 12px;
}
.field-css {
  align-items: baseline;
  width: 100%;
}
.ant-picker-input > input {
  font-size: 12px !important;
}
.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}
