.profile-management {
  .ant-table-wrapper {
    height: auto;
  }

  .buttons {
    width: 100%;
    justify-content: flex-end;
  }
}

.profile-detail {
  .profile-info-container {
    display: flex;
    padding: 10px;
    .profile-info-title {
      justify-content: space-between;
      display: flex;
      font-weight: bold;

      .edit-icon {
        cursor: pointer;
      }
    }

    .info-profile {
      width: 100%;

      .info-profile-field {
        display: flex;
        align-items: center;

        > span {
          margin-right: 0.5rem;
        }
      }
    }

    .relationship-container {
      display: flex;
      max-height: 200px;
      overflow: auto;
    }

    .relation-input {
      position: absolute;
      right: -1px;
      width: 100px;
      top: -1px;
      .ant-select-selector {
        border-top-right-radius: 20px;
      }
    }
  }

  .ant-form-item {
    margin: 0;
  }

  @media (min-width: 768px) {
    .ant-col-md-18 {
      max-width: 75%;
    }
  }
}

.w-100 {
  width: 100%;
}
