#searchForm > .ant-row > .ant-row.ant-form-item {
  width: 100%;
  text-align: right;
  padding-right: 12px;
  .ant-col {
    flex: 1;
    max-width: 100%;
    width: 100%;
    .ant-btn:first-child {
      margin-right: 10px;
    }
  }
}
.ant-form-item {
  margin-right: 20px;
}

.ant-btn-primary {
  background: #1d60be;
  border: 1px solid #1d60be;
}
.ant-btn-primary:hover {
  background: cornsilk;
  color: #1d60be;
  border: 1px solid #1d60be;
}
//Style table
.ant-table {
  border: 1px solid rgb(228, 228, 228);
}
.ant-table-thead .ant-table-cell {
  text-align: center;
  background: #f5f5f5;
  border: 0.1px solid rgb(226, 226, 226);
}
.ant-table-row .ant-table-cell {
  border: 0.001px solid rgb(240, 240, 240);
}

.ant-list-item {
  padding: 12px 12px !important;
}

.ant-table-cell .ant-btn.ant-btn-link {
  padding: 0 4px !important;
}
//Style date-picker
.ant-picker {
  width: 100%;
}
.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
  background: rgb(129, 209, 255);
}
// .ant-notification-notice-description {
//   color: #fafafa;
// }
// .ant-notification-notice-message {
//   color: #fafafa;
// }
//Style page-header
.ant-page-header {
  width: 100%;
}
//Style button antd
.ant-btn-primary {
  color: #fff;
  background: #206ad2;
  border-color: #206ad2;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
//Style menu
.ant-menu-submenu-selected {
  color: #206ad2;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #206ad2;
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #206ad2;
}
//SelectBox phân trang
.ant-pagination-options-size-changer.ant-select {
  display: inline-block;
  width: 110px;
}
.ant-pagination-options {
  width: 110px;
}
//Style table
.ant-table-thead > tr > th {
  color: white;
  background: #206ad2 !important;
  text-align: center;
}
.ant-table.ant-table-middle .ant-table-title,
.ant-table.ant-table-middle .ant-table-footer,
.ant-table.ant-table-middle .ant-table-thead > tr > th,
.ant-table.ant-table-middle .ant-table-tbody > tr > td,
.ant-table.ant-table-middle tfoot > tr > th,
.ant-table.ant-table-middle tfoot > tr > td {
  padding: 6px 6px;
}

.ant-table-cell {
  border-left: 0.1px solid #fafafa;
  //color: #fafafa;
}
//Style modal
.ant-modal-content {
  background: #fafafa;
}
//Style card
.ant-card-head {
  background: #206ad2;
  color: #fafafa;
  border-radius: 4px;
}
//Style menu
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #206ad2;
}
