html,
body,
#root,
#root > * {
  height: 100%;
}

body {
  font-size: 14px;
  color: #333 !important;
}

a {
  text-decoration: underline;
  cursor: pointer;
}
//Style table title
.lblTableValue {
  color: red;
  font-weight: 500;
}
.lblTableTxt {
  font-weight: 500;
}
//Style các Control tim kiem
.slcSearch {
  max-width: 90%;
}
.inputSearch {
  max-width: 90%;
}
.ant-input {
  font-size: 12px;
}
//Style form
.searchForm {
  margin-left: 2%;
  margin-right: 2%;
}
//antd reset
#searchForm {
  margin-top: 15px;
}
#searchForm > .ant-row > .ant-row.ant-form-item {
  width: 100%;
  text-align: right;
  padding-right: 12px;
  .ant-col {
    flex: 1;
    max-width: 100%;
    width: 100%;
    .ant-btn:first-child {
      margin-right: 10px;
    }
  }
}
.ant-form-item {
  margin-right: 20px;
  margin-bottom: 5px;
}

.ant-btn-primary {
  background: #1d60be;
  border: 1px solid #1d60be;
}
.ant-btn-primary:hover {
  background: cornsilk;
  color: #1d60be;
  border: 1px solid #1d60be;
}
//Style table
.ant-table-tbody > tr.ant-table-row-selected > td {
  background: #81d1ff;
  border-color: rgba(0, 0, 0, 0.03);
}
.ant-table-wrapper {
  height: 100%;
  .ant-spin-nested-loading {
    height: 100%;

    .ant-spin-container {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      .ant-table {
        flex: auto;
        border: 1px solid rgb(228, 228, 228);
        .ant-table-container {
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          .ant-table-header {
            flex: none;
          }

          .ant-table-body {
            flex: auto;
          }
        }
      }

      .ant-table-pagination {
        flex: none;
      }
    }
  }
}
//Style alert
.ant-alert {
  padding: 0px 15px;
}
//Style tabs
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #206ad2;
  text-shadow: 0 0 0.25px currentColor;
}
.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  margin: 0 0 0px 0;
}
.ant-tabs-tab-remove {
  color: #fff;
}

.ant-table-thead .ant-table-cell {
  text-align: center;
  background: #f5f5f5;
  border: 0.1px solid rgb(226, 226, 226);
}
.ant-table-row .ant-table-cell {
  border: 0.001px solid rgb(240, 240, 240);
}
.ant-table-cell {
  font-size: 12px;
}
.ant-table-selection-column {
  width: 20px;
}
.ant-list-item {
  padding: 12px 12px !important;
}

.ant-table-cell .ant-btn.ant-btn-link {
  padding: 0 4px !important;
}
.ant-table-row ant-table-row-level-0 ant-table-row-selected {
  background: #2e78e0;
}
//Style date-picker
.ant-picker {
  width: 100%;
}
.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
  background: rgb(129, 209, 255);
}
// .ant-notification-notice-description {
//   color: #fafafa;
// }
// .ant-notification-notice-message {
//   color: #fafafa;
// }
//Style page-header
.ant-page-header {
  width: 100%;
}
//Style button antd
.ant-btn-primary {
  color: #fff;
  background: #206ad2;
  border-color: #206ad2;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
//Style menu
.ant-menu-submenu-selected {
  color: #206ad2;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #206ad2;
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #206ad2;
}
//SelectBox phân trang
.ant-pagination-options-size-changer.ant-select {
  display: inline-block;
  width: 110px;
}
.ant-pagination-options {
  width: 110px;
}
.ant-table.ant-table-middle .ant-table-title,
.ant-table.ant-table-middle .ant-table-footer,
.ant-table.ant-table-middle .ant-table-thead > tr > th,
.ant-table.ant-table-middle .ant-table-tbody > tr > td,
.ant-table.ant-table-middle tfoot > tr > th,
.ant-table.ant-table-middle tfoot > tr > td {
  padding: 3px 8px;
}
/* row data */
.ant-table-tbody > tr > td {
  height: 5px;
  padding: 2px;
}
/* row tags */
.my-tag {
  font-size: 12px;
}
.ant-table-thead > tr > th {
  height: 5px;
  padding: 4px;
}
.ant-table-thead > tr > th {
  color: white;
  background: #206ad2 !important;
  text-align: center;
}
.ant-table-tbody > tr.ant-table-row-level-1:hover > td {
  background: #ccc;
}
.ant-spin-container {
  margin-top: 15px;
}
.ant-table-cell {
  border-left: 0.1px solid #fafafa;
  //color: #fafafa;
}

//Style modal
.ant-modal-content {
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ant-modal-title {
  font-weight: bold;
  font-size: 13px;
  line-height: 5px;
}
//Style card
.ant-card-head {
  background: #206ad2;
  color: #fafafa;
  border-radius: 4px;
}
//Style menu
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #206ad2;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #d3e4fd;
}
.ant-menu-item-selected {
  color: #206ad2;
}
//Style tabs
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #206ad2;
  text-shadow: 0 0 0.25px currentColor;
}
.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
  margin: 0 0 0px 0;
}
.ant-layout-header {
  padding: 0 0px;
}
.main-content {
  margin: 5px;
  border-radius: 10px;
  background-color: #fff;
  border-top: 5px solid #206ad2;
  padding: 13px;
  height: 100%;
  overflow: visible;
}
//Style modal
.ant-modal-body {
  padding: 0px 20px;
}
//Style Label
.ant-form-item-label > label {
  font-size: 12px;
}
//Style menu tên người đăng nhập hệ thống
.userlogined {
  background: #206ad2;
}
.userlogined > div > span > span {
  color: #e0e2e6;
  font-weight: bold;
}
//Style selectbox
.ant-select {
  font-size: 12px;
}
//Style Collapse
.ant-collapse {
  font-weight: bold;
  font-size: 12px;
}
//Style search form
#searchForm {
  margin-top: 3px;
}
[data-theme='compact'] .ant-advanced-add-form,
.ant-advanced-add-form {
  padding: 10px 20px 15px;
}
.ant-page-header-heading-sub-title {
  color: black;
}
//Style Page header
.ant-page-header {
  padding: 2px 2px;
}

.ant-table-filter-trigger.active {
  color: #fff;
}
//Style collapse
.ant-collapse {
  font-weight: normal;
}
.ant-collapse-header {
  font-weight: 700;
}
//Style file list
.ant-upload-list-item-name {
  color: #004bbdcc;
  font-weight: 400;
}
