.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 150px;
}
.ant-col {
  max-width: 100%;
  text-align: left;
}
.tbl-left {
  float: left;
  width: 49%;
}
.tbl-right {
  float: right;
  width: 49%;
}
@media screen and (max-width: 768px) {
  .tbl-left {
    width: 100%;
  }
  .tbl-right {
    width: 100%;
  }
}
.fs-12 {
  font-size: 12px !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 26px !important;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 26px !important ;
}
.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 26px !important;
}
.fix-icon {
  width: 20px !important;
  height: 20px !important;
  min-width: 24px !important;
}
.main-content {
  height: auto !important;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: #fff !important;
  background: #206ad2;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-10 .ant-form-item-label > label {
  font-size: 10px !important;
}
.fs-10 .ant-table-cell {
  font-size: 10px !important;
}
.green {
  color: green;
  border-color: green;
}
