.report-appointment-hospital-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;

  .report-appointment-hospital {
    flex: 1;
    padding: 1rem;
    height: 100vh;
    overflow: auto;

    .ant-col {
      max-width: 100%;
    }

    .ant-spin-container {
      margin-top: 0;
    }

    .ant-table-summary {
      background-color: #fafafa;
      .ant-table-cell {
        border-left: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
      }
    }
  }

  .report-appointment-hospital-date {
    padding: 0 1rem;
    display: flex;
    justify-content: flex-end;
    > div {
      width: auto;
    }
  }

  .report-appointment-hospital-title {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
