.mt-10px {
  margin-top: 10px;
}
.txt-rigth {
  text-align: right !important;
}
.btn-green {
  background: #26a661;
  border-color: #26a661;
  color: white;
}
.btn-yellow {
  background: rgba(255, 255, 0, 1);
  border-color: rgba(255, 255, 0, 1);
  color: #000000ad;
}
.mr-10px {
  margin-right: 10px;
}

.patient-dialog {
  margin-bottom: 100px;
  .ant-table-thead {
    .ant-table-cell {
      color: white;
    }
  }

  .incoming-call {
    font-size: 1rem;
    color: red;
  }
  .outgoing-call {
    color: green;
    font-size: 1rem;
  }

  .status-cell {
    padding: 0 !important;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
    }

    &-success {
      background-color: green;
      color: white;
    }

    &-failed {
      background-color: red;
      color: white;
    }
  }
}
