.dialer-wrapper {
  // pointer-events: none;

  .dialer {
    width: 300px;
    height: 400px;

    .ant-modal-body {
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      flex: 1;
      gap: 1rem;

      .info-container {
        .user-phone {
          font-size: 1.25rem;
        }
        .incoming-phone {
          cursor: pointer;
          font-size: 1.25rem;
          color: blue;
        }
      }

      .footer-container {
        .footer-title {
          font-weight: bold;
        }
        .footer-detail {
          color: red;
        }
      }

      .btn-call {
        background-color: green;
        border: none;
      }

      .btn-hold {
        background-color: yellow;
      }

      .btn-play {
        background-color: green;
        color: white;
      }

      .btn-backspace {
        font-size: 1rem;
        cursor: pointer;
        user-select: none;
      }

      .btn-clear {
        position: absolute;
        left: -25px;
        z-index: 1;
        transform: translate(0, 50%);
      }

      .auto-answer {
        cursor: pointer;
      }
    }
  }
}

.dialer-minimize {
  padding: 0.5rem 1rem;
  .incoming-phone {
    cursor: pointer;
    color: blue;
  }

  .icn-incoming {
    color: red;
  }

  .icn-outgoing {
    color: green;
  }

  .btn-call {
    background-color: green;
    border: none;
  }

  .btn-hold {
    background-color: yellow;
  }

  .btn-play {
    background-color: green;
    color: white;
  }
}

.ready-tooltip {
  .ready-radio-group {
    display: flex;
    flex-direction: column;
  }

  .btn-ready-confirm {
    display: flex;
    justify-content: flex-end;
  }
}

.status-button {
  &.ant-switch {
    background-color: red;
    &.ant-switch-checked {
      background-color: green;
    }
  }
}
