.user-management {
  padding: 0.5rem;
  flex: 1;
  height: 100%;
  .ant-table-wrapper {
    height: calc(100% - 30px);
    .ant-spin-container {
      margin-top: 0;
      .ant-table {
        height: calc(100% - 30px);
      }
    }
  }

  @media (min-width: 576px) {
    .ant-col-sm-24 {
      max-width: 100%;
    }
  }
  @media (min-width: 768px) {
    .ant-col-md-12 {
      max-width: 50%;
    }
  }

  .btn-green {
    background: #26a661;
    border-color: #26a661;
    color: white;
  }

  .btn-orange {
    background: orange;
    border-color: orange;
    color: white;
  }

  .call-type-cell {
    .incoming-call {
      font-size: 1rem;
      color: red;
    }
    .outgoing-call {
      color: green;
      font-size: 1rem;
    }
  }

  .status-cell {
    padding: 0 !important;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &-2,
    &-calling {
      background-color: aqua;
    }

    &-4 {
      background-color: green;
      color: white;
    }

    &-3,
    &-waiting {
      background-color: yellow;
    }

    &-5 {
      background-color: red;
      color: white;
    }
  }

  .justify-between {
    width: 100%;
    justify-content: space-between;
  }

  .user-management-right {
    .ant-col {
      max-width: 100%;
    }
  }
}

.statistic-filter {
  padding: 0.5rem;

  .statistic-input {
    input {
      height: 32px;
    }
  }

  .checkbox-group {
    display: flex;
    flex-direction: column;
  }
}
