.table-site-staff {
  height: calc(100vh - 125px);
  overflow: hidden;
  @media (max-width: 768px) {
    height: 100%;
  }
  &.ant-table-wrapper .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-container {
    height: auto;
  }
}
.slcSearch{
  max-width: 100% !important;
}