.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }
  .table-street {
    height: calc(100vh - 125px);
    overflow: hidden;
    @media (max-width: 768px) {
      height: 100%;
    }
    &.ant-table-wrapper .ant-spin-nested-loading .ant-spin-container .ant-table .ant-table-container {
      height: auto;
    }
  }
  