.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 150px;
}
.ant-col {
  max-width: 100%;
  text-align: left;
}
